*{
  box-sizing: border-box;
}

[data-popover]::after {
  
  content:attr(data-popover);
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 124);
  position: absolute;
  left:0;
  top: 35px;
  display: none;
}
[data-popover]::before {
  content: "";
  height:  10px;
  width:  20px;
  border-bottom:  10px solid rgba(255, 255, 124);
  border-left:  10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: 15px;
  left: 0;
  display: none;
}
[data-popover]:focus::after,
[data-popover]:focus::before {
  display: block;
}

